<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802858849543-mmfoktor46ukvmmeir5i6j5rumumeecj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802858849543-mmfoktor46ukvmmeir5i6j5rumumeecj</string>
	<key>API_KEY</key>
	<string>AIzaSyC0OUyQQm80s9vzX-8OCMzaa66ex_D6ssU</string>
	<key>GCM_SENDER_ID</key>
	<string>802858849543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>QED.Pokedex</string>
	<key>PROJECT_ID</key>
	<string>pokedex-c1099</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-c1099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802858849543:ios:81df94a65b2b7c744461a2</string>
</dict>
</plist>